# TAREA 1

4. Imprima "Hola mundo" utilizando la función print()

In [4]:
print("Hola mundo")

Hola mundo

5. Cree tres variables nombre, edad, pais. Asigne el valor de estas variables a su nombre, edad, y país.


6. Concatene e imprima las variables nombre, edad, pais utilizando una sola función print().

In [ ]:
nombre="Isac Samael Lainez Sevilla"
edad=20
pais="Honduras"
print(str(nombre) + str(edad) + str(pais))

7. ¿Qué tipo de datos son las variables nombre, edad, país? Imprima el tipo de dato de estas variables con la función print().

La variable edad es del tipo númerico, sin embargo, nombre y pais son cadena de caracteres.

In [9]:
print(edad)
print("Isac Sanmael Lainez Sevilla")
print("Honduras")

20
Isac Sanmael Lainez Sevilla
Honduras

8. Imprima la frase "En astronomía, la clasificación estelar es la clasificación de las estrellas en función de sus características espectrales." en tres líneas separadas utilizando una sola función print() y el caracter de escape \n. Su output debería verse así:

In [1]:
x="En astronomía, la clasificación estelar\nes la clasificación de las estrellas en\nfunción de sus características espectrales."

print(x)

En astronomía, la clasificación estelar
es la clasificación de las estrellas en
función de sus características espectrales.

9. Imprima las strings "Hipergigantes", "Subgigantes", "Secuencia principal" utilizando una sola función print(), cada palabra deberá estar separada por una string "---" utilizando el argumento sep="---". La línea debe de terminar con un string "*", utilizando el argumento end="".

In [5]:
y="Hipergigantes"
z="Subgigantes"
w="Secuencia principal"
print(y,z,w,sep="---",end="*")

Hipergigantes---Subgigantes---Secuencia principal*

10. Una masa solar es equivalente a 1,98892 × 10^30 kg. El Sol (1 masa solar) tiene aproximadamente 1048 veces la masa de Júpiter. Cree dos variables m_solar y m_jupiter correspondientes a la masa del Sol y el cálculo de la masa de Júpiter. Imprima el resultado utilizando la función print() con interpolación de variables i.e.[print(f"Un string {su_variable}"].

In [30]:
m_solar = 1.98892*(10**30)
m_jupiter = a*1/1048

print(f"{m_jupiter}" + "Kg")

1.8978244274809163e+27Kg

11. Una Unidad Astronómica AU es definida como "una unidad de longitud igual, por definición, a 149 597 870 700 m que equivale aproximadamente a la distancia media entre la Tierra y el Sol." Utilizando Python: operadores <>, condicionales if, y print(). Evalue las condiciones True False e imprima True si su distancia al Sol es mayor que 1 AU o imprima False si la distancia del planeta al Sol es menor a 1 AU.

In [52]:
u_astro=149597870700
d_mer=0.389*u_astro
print('verdadero' if  d_mer < u_astro else 'falso')

verdadero

In [51]:
d_ven=0.723*u_astro
u_astro=149597870700
print('verdadero' if d_ven < u_astro else 'falso')

verdadero

In [50]:
u_astro=149597870700
d_mart=1.524*u_astro
print('Verdadero' if  d_mart < u_astro else 'Falso')

Falso

In [53]:
u_astro=149597870700
d_jup=5.203*u_astro
print('Verdadero' if  d_jup < u_astro else 'Falso')

Falso

In [54]:
u_astro=149597870700
d_sat=9.537*u_astro
print('Verdadero' if  d_sat < u_astro else 'Falso')

Falso